.card-nota{
    background-color: #b458b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    &__titulo{
        padding: .4rem;
        font-family:'Chakra Petch' ;
        border-bottom: 1px solid $bordas;
    }

    &__nota{
        padding: .4rem;
        font-family: 'Kaushan Script';
        justify-self: flex-start;
    }
    
    
}