.cadastro{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__input{
        height: 20px;
        
        @include formulario-cadastro(); 

    }

    &__nota{
        height: 100px;
        font-family: "Kaushan Script";
        white-space: 1rem;
        letter-spacing: .15rem;
        @include formulario-cadastro(); 
    }

    &__botao{
        background-color: $fundo;
        color: white;
        border:none;
        border-radius: 3px;
        margin-left: auto;
        width: 30%;
        cursor: pointer;
        transition: all linear .2s;

        &:hover{
            background-color: $fundo-gradiente;
            transform: scale(1.2);
        
        }
    }


}