.lista-categoria{
    display: flex;
    margin: 1rem 0;
    align-items: center;

    &__listas{
        display: flex;
        margin-left: 1rem;
        
        &__item{
            @include categoria-tag; 
             margin-right: 1rem;
            font-size: .8rem;
        }
    }
    
    &__input{
        width: 184px;
        background-color: $fundo;
        border: none;
        padding: .5rem 1rem;
        outline: none;
        border-radius: 5px;
    }

}   