.lista-nota{
    display: flex;
    flex-wrap: wrap;
    padding: 0;

      

    &__lista{
        list-style-type: none;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        width: 0;
        opacity: 0;
        transition: all 0.6s ease-out;
        

    }

    &__lista--criada{
        width: 23%;
        opacity: 1;
    }

    &__lista--deletada{
        width:  0px;
        opacity: 0;
    }
}

