$fundo:#6e566e;
$fundo-gradiente:#2c022c;
$bordas:rgb(153, 149, 149);


@mixin formulario-cadastro {
    margin-bottom: .3rem;
    background-color: $fundo;
    border: none;
    border-radius: 5px;
    color: black;
    padding-left: .4rem;
    outline: none;
}

@import 'card-nota', 'formulario-cadastro','app','lista-notas','Lista-categorias';